.worker-button {
    flex-grow: 1;
    height: 50px;
    margin-left: 1%;
    opacity: 1;
    margin-right: 1%;
    flex-direction: row;
    align-self: auto;
    transition-property: all;
    transition-duration: 0.2s;
    -unity-text-align: middle-left;
    -unity-slice-scale: 0.2px;
}

.worker-button:hover {
    scale: 1 1;
}

RepeatButton {
    max-width: 0;
    max-height: 0;
    min-width: 0;
    min-height: 0;
}
